// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}
li{
  list-style: none;
}

.bgcolor{
  background: #D3D3D3;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
._events{
  margin: 1.3rem 0 0 0.9rem;
}
